RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !^/coming-soon$
RewriteCond %{REQUEST_URI} !^/coming-soon/.*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /coming-soon [L]