---
import Layout from "../layouts/Layout.astro";
import Input from "../components/Input.astro";
---

<Layout title="ByMudras - About Us">
  <div class="container mx-auto mt-32 mb-32">
    <div class="max-w-screen-sm">
      <h1 class="text-4xl">
        Write to us with any questions, requests or to just simply say hello.
      </h1>
      <div class="grid lg:grid-cols-2 mt-10">
        <div>
          <a href="tel:+12128378382" class="text-[#689858] text-3xl"
            >+1 (212) 837-8382</a
          >
          <p class="mt-10">8am - 5pm PT Mon-Fri</p>
        </div>
        <div>
          <a href="mailto:info@bymudras.com" class="text-xl underline"
            >info@bymudras.com</a
          >
          <a
            href="https://www.instagram.com/bymudras/"
            rel="noopener noreferrer"
            target="_blank"
            class="text-xl underline mt-10 block"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="32"
              height="32"
              ><title>instagram</title><path
                fill="#689858"
                d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"
              ></path></svg
            ></a
          >
        </div>
      </div>
    </div>
    <form
      class="mt-10 space-y-5"
      action="https://api.web3forms.com/submit"
      method="POST"
    >
      <input
        type="hidden"
        name="access_key"
        value={import.meta.env.PUBLIC_WEB3_KEY}
      />

      <Input label="Your name" name="name" type="text" required />
      <Input label="Your email" name="email" type="email" required />
      <Input label="Subject" name="subject" type="text" required />
      <Input label="Your message (optional)" name="message" type="textarea" />

      <button type="submit" class="bg-[#689858] text-white px-8 py-4"
        >Submit</button
      >
    </form>
    <hr class="my-5 border-black border-2" />
  </div>
</Layout>

<script>
  window.onload = function () {
    // Reset the form fields when the page loads
    (document.getElementById("form")! as HTMLFormElement).reset();
  };
</script>
